body {
  padding: 0 9px 0 0;
  margin: 0 0 0 0;
}
.hidden-text {
  color: transparent;
}
.pwd-input-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #333;
  opacity: 0.6;
}
.pwd-input {
  display: flex;
  flex-direction: column;
  padding: 12px 0 12px 5px;
  gap: 5px;
}
#content {
  margin: 2px 0 0 2px;
}
.dialog-content {
  zoom: 1.5;
}
.hide-all {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.red-text {
  color: red;
}
.toast {
  width: 25px;
}
